<!DOCTYPE html>
<html>
    <head>
        <script src="./jsmodule.js"></script>
        <link href="./style.css">
        
    </head>
    <body>
        {{>header }}

        <h1>HELLO</h1>
        hello 
        from abot
        {{ title }}


    </body>
</html>