<!DOCTYPE html>
<html>
    <head>
        <script src="./jsmodule.js"></script>
        <link href="./style.css">
        
    </head>
    <body>
        <h1>HELLO</h1>
        hello 
        from hbs

    </body>
</html>